/out
/node_modules
/target

/dependency-reduced-pom.xml
/classpath.txt
/test-classpath.txt
/docpath.txt

*.log
*.log.*
.idea
*.vsix
.DS_store

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

## File-based project format:
*.iws
*.ipr
*.iml

out/

